    <div class="flex flex-col items-center justify-center w-full mt-5">
        <div class="max-w-3xl">
            <div class="max-w-none mx-auto prose prose-sm">
                <img class="w-20 h-20" src="assets/images/logo/logo.svg" alt="Logo image">
                <h1>Bem-vindo ao Controle de Caixa - Plataform 🎉</h1>
                <p>
                    Essa é uma ferramenta que foi desenvolvida para colaborar com a gestão e controle de vendas do seu
                    negócios, além de ser uma ferramenta que vai
                    contribuir com crescimento do seu comércio, é uma aplicação que permite você, cadastrar e habilitar
                    sua utilização para um colaborador. Permitindo
                    ainda, verificar e realizar o controle de estoque de produtos cadastrados e vendidos de sua loja.
                </p>
                <p>
                    Para acesso aos recursos das plataforma é necessário obter um token. Para isso, é preciso realizar
                    o cadastro de sua loja, além de obter o token através do e-email que será utilizado para acesso a plataforma. </p>
                <p>
                    Ao receber o token salve-o em um bloco de notas e/ou copie o mesmo, volte a página de cadastro e
                    cole
                    o token na caixa API KEY, a partir daí poderá finalizar o cadastro na plataforma.

                </p>
            </div>

            <div class="flex items-baseline mt-3 text-xl font-semibold pb-5">
                <div>Obter chave pública ?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']">Cadastrar
                </a>
            </div>


            
        </div>
    </div>
