.ind-active{
    background-color: #2e7d32 !important;
    color: #fff !important;
  }
  .ind-suspended{
    background-color: #f57c00 !important;
    color: #000 !important;
  }
  .ind-deactived{
    background-color: #d32f2f !important;
    color: #000 !important;
  }