mat-table {
    width: 100%;
  }
mat-header-row{
  background-color: rgb(251 146 60) !important;
  color: #FFF !important;
  border-radius: 4px;

}

mat-header-cell{
  color: #FFF !important;
  width: 100% !important;
}

mat-cell{
  width: 100% !important;
}

.example-detail-row {
  min-height: 0 !important;
}


mat-header-row{
  .example-detail-row {
    height: 0;
  }
  
}

mat-header-row.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

mat-header-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

mat-cell.example-element-row{
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}
