<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-slate-300">

    <mat-drawer-container class="flex-auto h-full bg-slate-300 dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-200 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <div class="flex flex-col flex-auto w-full">

                <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

                    <!-- Title and action buttons -->
                    <div class="flex items-center justify-between w-full">
                        <div>
                            <h2 class="text-3xl font-semibold tracking-tight leading-8">Caixa Dia</h2>
                            <div class="font-medium tracking-tight text-secondary">Acompanhe a situação financeira de sua loja</div>
                        </div>
                        <div class="flex items-center ml-6">
                            <a class="hidden sm:inline-flex" [color]="'primary'" mat-flat-button [routerLink]="['/loja/reports']">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:document-report'"></mat-icon>
                                <span class="ml-2">Relatários</span>
                            </a>
                            <!-- <button class="hidden sm:inline-flex ml-3" mat-stroked-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                                <span class="ml-2">Settings</span>
                            </button> -->
                            <!-- <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                                <span class="ml-2">Export</span>
                            </button> -->
                            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createCaixa($event)" 
                            *ngIf="!fechar">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Abrir Caixa</span>
                            </button>

                            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="fecharCaixaDia($event)"
                            *ngIf="fechar">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Fechar Caixa</span>
                            </button>

                            <!-- Actions menu (visible on xs) -->
                            <div class="sm:hidden">
                                <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item>Export</button>
                                    <button mat-menu-item>Reports</button>
                                    <button mat-menu-item>Settings</button>
                                </mat-menu>
                            </div>



                        </div>
                    </div>

                    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">

                        <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">                          
                            <div
                                class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden"                                
                                *ngIf="caixaDay$ | async as caixaDay; else noCaixa">
                                <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                                    <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                                        [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                </div>
                                <div class="flex items-center">
                                    <div class="flex flex-col">
                                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Caixa do
                                            Dia</div>
                                        <div>
                                            Status <span class="text-green-600 font-medium text-sm" *ngIf="caixaDay.status">Aberto</span> 
                                            <span class="text-red-600 font-medium text-sm" *ngIf="!caixaDay.status">Fechado</span> {{caixaDay.criadoEm }}
                                        </div>
                                    </div>
                                    <div class="ml-auto -mt-2">
                                        <button mat-icon-button [matMenuTriggerFor]="previousStatementMenu">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #previousStatementMenu="matMenu">
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                                                    <span>View statement</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                                                    <span>Spending breakdown</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:receipt-tax'"></mat-icon>
                                                    <span>Tax breakdown</span>
                                                </span>
                                            </button>
                                            <mat-divider class="my-2"></mat-divider>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                                    <span>Print statement</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                                    <span>Email statement</span>
                                                </span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-wrap mt-4 -mx-6">
                                    <div class="flex flex-col mx-6 my-3">
                                        <div class="text-sm font-medium leading-none text-secondary">Valor Abertura
                                        </div>
                                        <div class="mt-2 font-medium text-3xl leading-none">
                                            {{caixaDay.valorAbertura | currency:'BRL'}}</div>
                                    </div>
                                    <div class="flex flex-col mx-6 my-3">
                                        <div class="text-sm font-medium leading-none text-secondary">Valor
                                            Fechamento</div>
                                        <ng-container *ngIf="caixaDay.valorFechamento > 0; else noValor">
                                            <div class="mt-2 font-medium text-3xl leading-none">
                                                {{caixaDay.valorFechamento | currency:'BRL'}}</div>
                                        </ng-container>
                                    </div>

                                    <div class="flex flex-col mx-6 my-3">
                                        <div class="text-sm font-medium leading-none text-secondary">Total</div>
                                        <ng-container *ngIf="caixaDay.valorFechamento > 0; else noValor">
                                            <div class="mt-2 font-medium text-3xl leading-none" *ngIf="caixaDay.valorAbertura > caixaDay.valorFechamento ; else Maior">{{ caixaDay.valorFechamento | currency:'BRL'}}</div>
                                            <ng-template #Maior>
                                                <div class="mt-2 font-medium text-3xl leading-none">{{caixaDay.valorFechamento - caixaDay.valorAbertura | currency:'BRL'}}</div>
                                            </ng-template>
                                           
                                        </ng-container>
                                    </div>

                                    <ng-template #noValor>
                                        <div class="mt-2 font-medium text-3xl leading-none">
                                            {{zeroValor | currency:'BRL'}}</div>
                                    </ng-template>
                                </div>
                            </div>

                            <!-- Current statement -->
                            <div
                                class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden"
                                *ngIf="caixaYesterday$ | async as caixaYesterday">
                                <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                                    <mat-icon class="icon-size-24 opacity-25 text-red-500 dark:text-red-400"
                                        [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                                </div>
                                <div class="flex items-center">
                                    <div class="flex flex-col">
                                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Caixa de
                                            Ontem</div>
                                        <div class="text-red-600 font-medium text-sm">Status 
                                            <span *ngIf="caixaYesterday.status">Aberto</span> 
                                            <span *ngIf="!caixaYesterday.status">Fechado</span>
                                            {{ caixaYesterday.criadoEm }}
                                        </div>
                                    </div>
                                    <div class="ml-auto -mt-2">
                                        <button mat-icon-button [matMenuTriggerFor]="currentStatementMenu">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #currentStatementMenu="matMenu">
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:credit-card'"></mat-icon>
                                                    <span>View statement</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                                                    <span>Spending breakdown</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:receipt-tax'"></mat-icon>
                                                    <span>Tax breakdown</span>
                                                </span>
                                            </button>
                                            <mat-divider class="my-2"></mat-divider>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                                    <span>Print statement</span>
                                                </span>
                                            </button>
                                            <button mat-menu-item>
                                                <span class="flex items-center">
                                                    <mat-icon class="icon-size-5 mr-3"
                                                        [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                                    <span>Email statement</span>
                                                </span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-wrap mt-4 -mx-6">
                                    <div class="flex flex-col mx-6 my-3">
                                        <div class="text-sm font-medium leading-none text-secondary">Valor Abertura
                                        </div>
                                        <div class="mt-2 font-medium text-3xl leading-none">
                                            {{caixaYesterday.valorAbertura | currency:'BRL'}}</div>
                                    </div>
                                    <div class="flex flex-col mx-6 my-3">
                                        <div class="text-sm font-medium leading-none text-secondary">Valor
                                            Fechamento</div>
                                        <ng-container *ngIf="caixaYesterday.valorFechamento > 0; else noValor">
                                            <div class="mt-2 font-medium text-3xl leading-none">
                                                {{caixaYesterday.valorFechamento | currency:'BRL'}}</div>
                                        </ng-container>
                                    </div>

                                    <div class="flex flex-col mx-6 my-3">
                                        <div class="text-sm font-medium leading-none text-secondary">Total</div>
                                        <ng-container *ngIf="caixaYesterday.valorFechamento > 0; else noValor">
                                            <div class="mt-2 font-medium text-3xl leading-none">
                                                <ng-container *ngIf="caixaYesterday.valorAbertura > caixaYesterday.valorFechamento ; else valorDiff">{{ caixaYesterday.valorFechamento |currency:'BRL'}}</ng-container>
                                                <ng-template #valorDiff>{{ caixaYesterday.valorFechamento - caixaYesterday.valorAbertura |currency:'BRL' }}</ng-template>    
                                            </div>
                                        </ng-container>
                                    </div>

                                    <ng-template #noValor>
                                        <div class="mt-2 font-medium text-3xl leading-none">
                                            {{zeroValor | currency:'BRL'}}</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                         <!-- Account balance -->
            <div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="flex flex-col p-6 pb-4">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-col">
                            <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Resumo Geral do Dia</div>
                            <div class="text-secondary font-medium">Saldo diário de crescimento e média de renda diária</div>
                        </div>
                        <div class="ml-2">
                            <!-- <button
                                class="h-6 min-h-6 px-2 rounded-full bg-hover"
                                mat-button
                                [matMenuTriggerFor]="accountBalanceMenu">
                                <span class="font-medium text-sm text-secondary">12 months</span>
                            </button>
                            <mat-menu #accountBalanceMenu="matMenu">
                                <button mat-menu-item>3 months</button>
                                <button mat-menu-item>6 months</button>
                                <button mat-menu-item>9 months</button>
                                <button mat-menu-item>12 months</button>
                            </mat-menu> -->
                        </div>
                    </div>
                    <div class="flex items-start mt-6 mr-2">
                        <div class="flex flex-col">
                            <div class="font-semibold text-3xl md:text-5xl tracking-tighter">{{ ticketMedio / data.length | currency:'BRL'}}</div>
                            <div class="font-medium text-sm text-secondary leading-none">Valor do Ticket Médio</div>
                        </div>
                        <div class="flex flex-col ml-8 md:ml-16">
                            <div class="font-semibold text-3xl md:text-5xl tracking-tighter">{{ ticketMedio | currency:'BRL'}}</div>
                            <div class="font-medium text-sm text-secondary leading-none">Total de vendas do Dia</div>
                        </div>
                    </div>
                </div>
               
            </div>


                    </div>

                    <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8">
                        <!-- Recent transactions table -->
                        <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                            <div class="p-6">
                                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Transações Recentes</div>
                                <div class="text-secondary font-medium">Número de vendas do dia {{ data.length }}</div>
                            </div>
                            <div class="overflow-x-auto mx-6">
                                <table class="w-full bg-transparent" mat-table matSort
                                    [dataSource]="recentTransactionsDataSource" [trackBy]="trackByFn"
                                    #recentTransactionsTable>

                                    <!-- Transaction ID -->
                                    <ng-container matColumnDef="numero">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Número da Venda
                                        </th>
                                        <td mat-cell *matCellDef="let transaction">
                                            <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                {{transaction.nvenda }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Date -->
                                    <ng-container matColumnDef="data">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Data
                                        </th>
                                        <td mat-cell *matCellDef="let transaction">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{transaction.createdAt | date:'MMM dd, y'}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Name -->
                                    <ng-container matColumnDef="pagamento">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Forma de Pagamento
                                        </th>
                                        <td mat-cell *matCellDef="let transaction">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{transaction.formaPagamento}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Amount -->
                                    <ng-container matColumnDef="total">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Total
                                        </th>
                                        <td mat-cell *matCellDef="let transaction">
                                            <span class="pr-6 font-medium whitespace-nowrap">
                                                {{transaction.total | currency:'BRL'}}
                                            </span>
                                        </td>
                                        <td mat-footer-cell *matFooterCellDef> </td>
                                    </ng-container>

                                    <!-- Status -->
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Status
                                        </th>
                                        <td mat-cell *matCellDef="let transaction">
                                            <span
                                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                                [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.status === false,
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.status ===true}">
                                                <span class="leading-relaxed whitespace-nowrap">Finalizada</span>
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Footer -->
                                    <ng-container matColumnDef="recentOrdersTableFooter">
                                        <td class="py-6 px-0 border-0 mr-4 text-lg font-medium tracking-tight leading-6 truncate" mat-footer-cell *matFooterCellDef colspan="6">
                                           Total de Vendas {{getTotalCost() | currency:'BRL'}}
                                        </td>

                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="recentTransactionsTableColumns"></tr>
                                    <tr class="order-row h-16" mat-row *matRowDef="let row; columns: recentTransactionsTableColumns;"></tr>
                                    <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                                </table>
                            </div>
                        </div>

                        <!-- Budget -->
                        <!-- <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                            <div class="flex items-center">
                                <div class="flex flex-col">
                                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Budget</div>
                                    <div class="text-secondary font-medium">Monthly budget summary</div>
                                </div>
                                <div class="ml-auto -mt-2 -mr-2">
                                    <button mat-icon-button [matMenuTriggerFor]="budgetMenu">
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                    </button>
                                    <mat-menu #budgetMenu="matMenu">
                                        <button mat-menu-item>Expenses breakdown</button>
                                        <button mat-menu-item>Savings breakdown</button>
                                        <button mat-menu-item>Bills breakdown</button>
                                        <mat-divider class="my-2"></mat-divider>
                                        <button mat-menu-item>
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3"
                                                    [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                                <span>Print budget summary</span>
                                            </span>
                                        </button>
                                        <button mat-menu-item>
                                            <span class="flex items-center">
                                                <mat-icon class="icon-size-5 mr-3"
                                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                                <span>Email budget summary</span>
                                            </span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            <div class="mt-6">
                                Last month; you had <strong>223</strong> expense transactions, <strong>12</strong>
                                savings
                                entries and <strong>4</strong> bills.
                            </div>
                            <div class="my-8 space-y-8">
                                <div class="flex flex-col">
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center justify-center w-14 h-14 rounded bg-red-100 text-red-800 dark:bg-red-600 dark:text-red-50">
                                            <mat-icon class="text-current"
                                                [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                                        </div>
                                        <div class="flex-auto ml-4 leading-none">
                                            <div class="text-sm font-medium text-secondary">Expenses</div>
                                            <div class="mt-2 font-medium text-2xl"></div>
                                            <mat-progress-bar class="mt-3 rounded-full" [color]="'warn'"
                                                [mode]="'determinate'" [value]=""></mat-progress-bar>
                                        </div>
                                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                                            <div class="text-lg leading-none">2.6%</div>
                                            <mat-icon class="text-green-600 icon-size-4 ml-1"
                                                [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center justify-center w-14 h-14 rounded bg-indigo-100 text-indigo-800 dark:bg-indigo-600 dark:text-indigo-50">
                                            <mat-icon class="text-current"
                                                [svgIcon]="'heroicons_outline:cash'"></mat-icon>
                                        </div>
                                        <div class="flex-auto ml-4 leading-none">
                                            <div class="text-sm font-medium text-secondary">Savings</div>
                                            <div class="mt-2 font-medium text-2xl"></div>
                                            <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'"
                                                [value]=""></mat-progress-bar>
                                        </div>
                                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                                            <div class="text-lg leading-none">12.7%</div>
                                            <mat-icon class="text-red-600 icon-size-4 ml-1"
                                                [svgIcon]="'heroicons_solid:arrow-narrow-up'"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center justify-center w-14 h-14 rounded bg-teal-100 text-teal-800 dark:bg-teal-600 dark:text-teal-50">
                                            <mat-icon class="text-current"
                                                [svgIcon]="'heroicons_outline:light-bulb'"></mat-icon>
                                        </div>
                                        <div class="flex-auto ml-4 leading-none">
                                            <div class="text-sm font-medium text-secondary">Bills</div>
                                            <div class="mt-2 font-medium text-2xl"></div>
                                            <mat-progress-bar class="mt-3 rounded-full" [mode]="'determinate'"
                                                [value]=""></mat-progress-bar>
                                        </div>
                                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                                            <div class="text-lg leading-none">105.7%</div>
                                            <mat-icon class="text-red-600 icon-size-4 ml-1"
                                                [svgIcon]="'heroicons_solid:arrow-narrow-up'"></mat-icon>
                                        </div>
                                    </div>
                                    <div class="mt-3 text-md text-secondary">Exceeded your personal limit! Be careful
                                        next
                                        month.</div>
                                </div>
                            </div>
                            <div class="flex items-center mt-auto">
                                <button class="mt-2" mat-stroked-button>
                                    Download Summary
                                </button>
                            </div>
                        </div> -->
                    </div>

                    <ng-template #noCaixa>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center loader">
                            Caixa ainda não foi aberto hoje
                        </div>
                    </ng-template>
                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>