<div
    class="flex flex-col sm:flex-row items-center md:items-center sm:justify-center md:justify-center flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:w-auto md:h-full py-4 px-4 sm:p-12 md:p-10 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
               Cadastrar
            </div>
            <div class="flex items-baseline mt-0.5 font-medium pb-5">
                <div>Já tem uma conta?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Realizar Login
                </a>
                
                <div class="flex ml-2">Obter chave pública </div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/home']">API KEY
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8 mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign Up form -->
            <form class="w-full" [formGroup]="signUpForm">
                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nome Completo</mat-label>
                    <input id="fullName" matInput [formControlName]="'fullName'" />
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('fullName').hasError('required')">
                        Nome completo é obrigatório
                    </mat-error>
                </mat-form-field>

                <!-- CPF field -->
                <div class="flex">
                    <mat-form-field class="flex-auto w-50 mr-5">
                        <mat-label>CPF</mat-label>
                        <input matInput [placeholder]="'CPF'" matInput [formControlName]="'cpfCnpj'" [spellcheck]="false"
                            mask="000.000.000-00" appCpfValidator />
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                        <mat-error
                            *ngIf="signUpForm.get('cpfCnpj').hasError('valido') && (signUpForm.touched || signUpForm.dirty)"
                            class="cross-validation-error-message alert">
                            CPF Inválido!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="flex-auto w-50">
                        <mat-label>Telefone</mat-label>
                        <input matInput [placeholder]="'Telefone'" matInput [formControlName]="'phone'"
                            mask="(00) 0 0000-0000" />
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        <mat-error *ngIf="signUpForm.get('phone').hasError('required')">
                            Telefone é obrigatório
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>E-mail</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Por favor digite um e-mail válido
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>API KEY</mat-label>
                    <input id="apikey" matInput [formControlName]="'apikey'" />
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:badge-check'"></mat-icon>
                    <mat-error *ngIf="signUpForm.get('apikey').hasError('required')">
                        API KEY é obrigatório
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->

                <div class="flex">
                    <mat-form-field class="w-full">
                        <mat-label>Senha</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:key'"></mat-icon>
                        <button mat-icon-button type="button" (click)="
                                passwordField.type === 'password'
                                    ? (passwordField.type = 'text')
                                    : (passwordField.type = 'password')
                            " matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error> Senha é obrigatório </mat-error>
                    </mat-form-field>

                </div>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5 pt-4">
                    <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
                        <span>Eu concordo com os</span>
                        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Termos de Serviço
                        </a>
                        <span>e a</span>
                        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Política de Privacidade
                        </a>
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signUpForm.invalid"  (click)="signUp()">
                    <span *ngIf="!signUpForm.invalid">
                        Cadastrar
                    </span>
                    <mat-progress-spinner class="ml-2" *ngIf="signUpForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>